<div class="container-fluid" ng-controller="logController">
    <div class="row">
        <div class="col-lg-12">
            <h2 translate>Logs</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table ng-table="tableParams" class="table"><!--show-filter="true">-->
                <tr ng-repeat="log in $data">
                    <td data-title="'LogID'|translate">{{log.LogID}}</td>
                    <td data-title="'Severity'|translate">{{log.Severity}}</td>
                    <td data-title="'Title'|translate">{{log.Title}}</td>
                    <td data-title="'Timestamp'|translate">{{log.Timestamp}}</td>
                    <td data-title="'MachineName'|translate">{{log.MachineName}}</td>
                    <td data-title="'ProcessName'|translate">{{log.ProcessName}}</td>
                    <td data-title="'Message'|translate">{{log.Message}}</td>
                    <td data-title="'FormattedMessage'|translate">{{log.FormattedMessage}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--<button ng-click="init()"> Init</button>-->
</div>